In [2]:
#Q1: Write a program to convert specified days into years, weeks and days. Take user input. Note: Ignore leap year.

In [1]:
Given_days = int(input("Enter the Days:- "))
print("Enter the Days:-", Given_days)

days_in_year = 365
days_in_month = 30

Year = Given_days // days_in_year
Rem_Days = Given_days % days_in_year

Month = Rem_Days // days_in_month
Days = Rem_Days % days_in_month

print(Year,"Year : ",Month ,"Months : ",Days ,"Days")

Enter the Days:-  700

Enter the Days:- 700
1 Year :  11 Months :  5 Days

In [3]:
# Q2:Write a Python program to input basiPython salary of an employee and calculate its Gross salary according to following: Basic Salary <= 10000 : HRA = 20%, DA = 80% Basic Salary <= 20000 : HRA = 30%, DA = 90% Basic Salary > 20000 : HRA = 35%, DA =95%

In [4]:
Salary = int(input("Enter Salary:- "))
print("Enter Salary:- ",Salary)
if Salary <= 10000:
    G_Sal = Salary + 0.20 + Salary + 0.80 + Salary
    print(G_Sal)
elif Salary <= 20000:
    G_Sal = Salary + 0.30 + Salary + 0.90 + Salary
    print(G_Sal)
else:
    G_Sal = Salary + 0.35 + Salary + 0.95 + Salary
    print(G_Sal)

Enter Salary:-  13000

Enter Salary:-  13000
39001.2

In [5]:
# Q3:Write a Python program to input electricity unit charges and calculate total electricity bill according to the given condition: For first 50 units Rs. 0.50/unit For next 100 units Rs. 0.75/unit For next 100 units Rs. 1.25/unit For unit above 250 Rs. 1.50/unit An additional surcharge of 17% is added to the bill

In [6]:
Electric_Units = int(input("Enter Units:- "))
print("Enter Units:- ", Electric_Units)

if Electric_Units <= 50:
    T_Bill = Electric_Units * 0.50 + 0.17 * Electric_Units
    print(T_Bill)
elif Electric_Units <= 150:
    T_Bill = Electric_Units * 0.75 + 0.17 * Electric_Units
    print(T_Bill)
elif Electric_Untis <= 250:
    T_Bill = Electric_Units * 1.25 + 0.17 * Electric_Units
    print(T_Bill)
else:
    if Electric_Units > 250:
        T_Bill = Electric_Units * 1.50 + 0.17 * Electric_Units
        print(T_Bill)

Enter Units:-  56

Enter Units:-  56
51.52

In [7]:
# Q4:Write a Python program to print the given number patterns. 1 2 2 3 3 3 4 4 4 4 5 5 5 5 5

In [8]:
rows = 6

for i in range(rows):
    for j in range(i):
        print(i, end = " ")
    print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [9]:
# Q5:Write a Python program to calculate product of digits of a number. Read value of n from user.

In [10]:
num = int(input("Enter Num :- "))
mu1 = 1

while num > 0:
    rem = num % 10
    mu1 = mu1 * rem
    num = num // 10
else:
    print(mu1)

Enter Num :-  0

1

In [12]:
# Q6:Create a list of elements like: x = [45, 67, 12, ‘Hello’, 23.45, ‘World’] and oerform following operations

#Extract only string values from this list.
#Create a new list with strings in upper case.
#Find the addition of integer values
#Check that the value 56 is present in it or not.
#Print the list in reverse order.
#Delete the string ‘Hello’ from it.
#Insert a new value of 36 at 5th position in list.
#Count total number of elements in list now.
#Extract the values from 2nd index to 5th index.
#Append [34, ‘Pune’] to this list.
#Delete the last element from list.

In [13]:
# Given list
x = [45, 67, 12, 'Hello', 23.45, 'World']

# 1. Extract only string values from this list.
strings_only = [item for item in x if isinstance(item, str)]
print("1. Strings only:", strings_only)

# 2. Create a new list with strings in upper case.
upper_strings = [item.upper() for item in strings_only]
print("2. Strings in uppercase:", upper_strings)

# 3. Find the addition of integer values
sum_integers = sum([item for item in x if isinstance(item, int)])
print("3. Sum of integers:", sum_integers)

# 4. Check if the value 56 is present in the list or not.
is_56_present = 56 in x
print("4. Is 56 present:", is_56_present)

# 5. Print the list in reverse order.
reverse_list = x[::-1]
print("5. Reversed list:", reverse_list)

# 6. Delete the string 'Hello' from it.
x.remove('Hello')
print("6. List after removing 'Hello':", x)

# 7. Insert a new value of 36 at 5th position in the list.
x.insert(4, 36)
print("7. List after inserting 36 at 5th position:", x)

# 8. Count total number of elements in the list now.
total_elements = len(x)
print("8. Total number of elements:", total_elements)

# 9. Extract the values from 2nd index to 5th index.
extracted_values = x[1:5]
print("9. Values from 2nd index to 5th index:", extracted_values)

# 10. Append [34, 'Pune'] to this list.
x.extend([34, 'Pune'])
print("10. List after appending [34, 'Pune']:", x)

# 11. Delete the last element from the list.
del x[-1]
print("11. List after deleting the last element:", x)

1. Strings only: ['Hello', 'World']
2. Strings in uppercase: ['HELLO', 'WORLD']
3. Sum of integers: 124
4. Is 56 present: False
5. Reversed list: ['World', 23.45, 'Hello', 12, 67, 45]
6. List after removing 'Hello': [45, 67, 12, 23.45, 'World']
7. List after inserting 36 at 5th position: [45, 67, 12, 23.45, 36, 'World']
8. Total number of elements: 6
9. Values from 2nd index to 5th index: [67, 12, 23.45, 36]
10. List after appending [34, 'Pune']: [45, 67, 12, 23.45, 36, 'World', 34, 'Pune']
11. List after deleting the last element: [45, 67, 12, 23.45, 36, 'World', 34]

In [15]:
# Q7:Create a tuple of elements with 5 float values in it and perform following operations.

# 1 Print the data in sorted manner.
# 2 Check to see that the element 50 is present in it.
# 3 Convert this tuple in set.

In [16]:
# Define a tuple with 5 float values
float_tuple = (23.5, 45.6, 12.9, 67.8, 34.1)

# 1. Print the data in sorted manner
sorted_tuple = sorted(float_tuple)
print("Sorted data:", sorted_tuple)

# 2. Check to see that the element 50 is present in it
is_fifty_present = 50 in float_tuple
print("Is 50 present in the tuple?", is_fifty_present)

# Convert this tuple to a set
float_set = set(float_tuple)
print("Tuple converted to set:", float_set)

Sorted data: [12.9, 23.5, 34.1, 45.6, 67.8]
Is 50 present in the tuple? False
Tuple converted to set: {34.1, 67.8, 12.9, 45.6, 23.5}

In [17]:
# Q8:Create a dictionary of elements: {‘a’: ‘apple’, ‘b’: ‘ball’, ‘c’: ‘cat’, ‘d’: ‘doll’, ‘k’: ‘king’} and perform following operations.

# 1 Access the data at key ‘k’
# 2 Add a new values ‘z’: ‘zebra’
# 3 Replace the contents of ‘d’ as ‘dog’
# 4 Print all the values from this dictionary.
# 5 Find the length of this dictionary

In [18]:
# create a dictionary
elements_dict = {'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king'}

# 1. Access the data at key 'k'
value_at_k = elements_dict['k']
print("Value at key 'k':", value_at_k)

# 2. Add a new value 'z': 'zebra'
elements_dict['z'] = 'zebra'
print("Dictionary after adding 'z': 'zebra':", elements_dict)

# 3. Replace the contents of 'd' with 'dog'
elements_dict['d'] = 'dog'
print("Dictionary after replacing 'd' with 'dog':", elements_dict)

# 4. Print all the values from this dictionary
all_values = elements_dict.values()
print("All values in the dictionary:", list(all_values))

# 5. Find the length of this dictionary
dict_length = len(elements_dict)
print("Length of the dictionary:", dict_length)

Value at key 'k': king
Dictionary after adding 'z': 'zebra': {'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king', 'z': 'zebra'}
Dictionary after replacing 'd' with 'dog': {'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'k': 'king', 'z': 'zebra'}
All values in the dictionary: ['apple', 'ball', 'cat', 'dog', 'king', 'zebra']
Length of the dictionary: 6

In [19]:
# Q9:Write a program to find the second largest element in a list.

In [20]:
def find_second_largest(nums):
    if len(nums) < 2:
        return None  # Not enough elements to determine the second largest

    first, second = float('-inf'), float('-inf')
    
    for num in nums:
        if num > first:
            second = first
            first = num
        elif first > num > second:
            second = num
            
    return second if second != float('-inf') else None

# Example row
numbers = [12, 45, 2, 41, 31, 18, 40]

# Find and print the second largest element
second_largest = find_second_largest(numbers)
print("The second largest element is:", second_largest)

The second largest element is: 41

In [21]:
# Q10:This is a list of some metallic elements. metals = [ 'silver','gold', ... ] Make a new list that is almost identical to the metals list: the new contains the same items, in the same order, except that it does NOT contain the item 'copper'.

In [22]:
# given list
metals = ['silver', 'gold', 'copper', 'platinum', 'iron', 'nickel']

# Create a new list without'copper'
metals_without_copper = [metal for metal in metals if metal != 'copper']

# Print the new list
print("List without 'copper':", metals_without_copper)

List without 'copper': ['silver', 'gold', 'platinum', 'iron', 'nickel']